{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" /> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <input accept="image/*" type="file" name="image">
    <button type="submit">convert</button>
</form>
<h2>Text of image is:</h2>
<h2 id="text">{{text}}</h2>
{% if audio %}
<div class="d-flex mt-4 text-light">
    <div>
        <select id="voices" class="form-select bg-secondary text-light"></select>

        <!-- Range Slliders for Volume, Rate & Pitch -->
        <div class="d-flex mt-4 text-light">
      <p class="lead">Volume</p>
      <input type="range" min="0" max="1" value="1" step="0.1" id="volume" />
      <span id="volume-label" class="ms-2">1</span>
    </div>
    <div class="mx-5">
      <p class="lead">Rate</p>
      <input type="range" min="0.1" max="10" value="1" id="rate" step="0.1" />
      <span id="rate-label" class="ms-2">1</span>
    </div>
    <div>
      <p class="lead">Pitch</p>
      <input type="range" min="0" max="2" value="1" step="0.1" id="pitch" />
      <span id="pitch-label" class="ms-2">1</span>
    </div>
  </div>

  <div class="mb-5">
    <button id="start" class="btn btn-success mt-5 me-3">Start</button>
    <button id="pause" class="btn btn-warning mt-5 me-3">Pause</button>
    <button id="resume" class="btn btn-info mt-5 me-3">Resume</button>
    <button id="cancel" class="btn btn-danger mt-5 me-3">Cancel</button>
  </div>
{% else %}
<h2>hi</h2>
{% endif %}
</body>
<script src="{% static 'speech.js' %}"></script>
</html>